/* Set Font Family of Entire site */
*{font-family:'Courier New', Courier, monospace;}

 .header {
    background-color: #668fff;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
 }

 #headerTitle {
    background-color: #668fff;
     color: white;
     width: 100%;
     flex-grow: 1;
     text-align: center;
 }

 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    width: 110vmin;
    margin: auto;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
 }
  
  .card {
    color: white;
    margin: 1.5vmin;
    text-align: center;
    height: 30vmin;
    width: 32vmin;
    background-color: #668fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.8);
}


#newBook, #resetBooks, #googleButton {
  background-color: white;
  color:#668fff;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  width: 25vmin;
  height: 5vmin;
  margin: 1vmin;
  border-radius: 20%;
  font-size: 1.8vmin;
}

#newBook:hover, #resetBooks:hover, #googleButton:hover {
  background-color: rgb(78, 115, 218);
  color: white;
}

/* The popup form - hidden by default */
.form-popup {
   display: none;
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border: 3px solid #f1f1f1;
   z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=number] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #668fff;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.removeButton, .readStatusBtn {
  background-color: white;
  color: #668fff;
  height: 4vmin;
}

.removeButton {
  margin-top: 2vmin;
}
.removeButton:hover, .readStatusBtn:hover {
  background-color: rgba(151, 23, 23, 0.733);
  color: white;
}
